<p>pairing-list works!</p>
<form #getWinePairingForm="ngForm" (ngSubmit)="getWines(getWinePairingForm)">
    <label for="foodInput">Enter Food:</label><input name="foodInput" id="foodInput" ngModel><button>Find Wines</button>
<form #getFoodPairingForm="ngForm" (ngSubmit)="getFood(getFoodPairingForm)">
    <label for="wineInput">Enter Wine:</label><input name="wineInput" id="wineInput" ngModel><button>Find Foods</button>
    
    </form>

</form>
<button (click)="getRandomRecipe()">Get random food</button>
<p>{{header}}</p>
<ul>
    <li *ngFor="let pairing of pairedWines">{{pairing}}</li>
</ul>


<ul>
    <li *ngFor="let pairing of pairedFoods">{{pairing}}</li>
</ul>